

h2{
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-size: 24px;
  

}
.main{
    text-align: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
outline: none;
  margin-top: 5vw;
 
  align-items: center;
  border-radius: 20px;
  width: 600px;
  height: 800px;
  justify-items: center;
  text-align: center;

}
label{

    padding: 3px;
}
.fieldset>.grupo{
    outline: none;
    border: none;
}
 .campo{
    
     text-align: center;
    inset-inline-end: 0;
    outline: none;
    font-family: sans-serif;
    outline: none;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 70px;
    border: none;
    color: rgb(0, 0, 0);
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
.grupo > label{
    font-family: sans-serif;
 
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: aliceblue;


}
.botao{

        width: 30%;
        height: 50px;
        padding:25px, 25px ;
        margin: 30px;
        border: none;
        text-transform: uppercase;
        border-radius: 8px;
        background-color:  rgb(104, 195, 172);
        transition: 0.5s;
        color:AliceBlue;
        font-size: larger;
        
        font-weight: 800;
        letter-spacing: 1px;
        outline: none;
    }
    .botao:hover{
        background-color: rgb(42, 198, 149); 
        transition: 0.5s;
        color: rgb(6, 105, 97);
    
}

input, textarea{
    border-radius: 8px;
    
}
.campo input[type="text"], #email, .campo textarea{
    width: 60%;
    padding: 8px;
    box-sizing: border-box;}
footer{
        justify-content: space-between;
        align-items: center;
        background: #1f2a22;
        width: 100%;
        height: 100px;
        display: flex;
        }
    #text-footer, #nome {
        font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
        margin-left: 15px;
        color: #65848e;
    }
  